.course{
	display: flex;
	flex-direction: column;
	.card{
		width: 100%;
		transition: all .5s;
		text-align:center;
		padding: 20px;
		box-shadow: 0px 0px 8px rgba(0,0,0,.5);
		margin-bottom: 20px;
		border-radius: 10px;
		background: #fff;
		img{
			max-width: 100%;
		}
		&:hover{
		cursor: pointer;
		box-shadow: 0px 0px 12px rgba(0,0,0,.5);

	}
	}
	
}
@media (min-width: 1000px){
	.course{
		flex-direction: row;
		flex-wrap: wrap;
		.card{
			margin: 20px;
			width: calc(50% - 40px);
		}
	}
}
@media (min-width: 1200px){
	.course{
		.card{
			width: calc(33.33333% - 40px);
		}
	}
}